<div class="container-fluid">
  <div class="row">
    <div id="waveform-parent" class="col">
      <%= @sound.title %>
      <div id="waveform-loading-message">Loading waveform... this may take a minute.</div>
      <%= content_tag :div, nil, id: 'waveform', data: { url: @sound.media_item.attachment.url } %>
      <%= simple_form_for [:admin, @sound], html: { class: 'd-none' } do |f| %>
        <hr>
        Waveform:
        <%= f.input :waveform, label: false %>
        <hr>
        <%= f.submit 'Upload waveform data to server' %>
      <% end %>
    </div>
  </div>
</div>
